@import "../../styles/styles";

.image-container {
  height: 250px;
  width: 100vw;
  margin-left: -2 * $basepx; // specifi

  img {
    @media (max-width: 800px) {
      object-position: 0 -80px;
    }

    @media (max-width: 600px) {
      object-position: 0 -40px;
    }

    @media (max-width: 500px) {
      object-position: 0 0;
    }

    @media (min-width: 800px) {
      object-position: 0 -120px;
    }
  }
}

.image {
  object-position: 0 -150px;
}
