$serif: "Taviraj";
$sansserif: "Nunito";

$basepx: 5px;

$black: #22292f;
$grey02: #f5f5f5;
$red: #af0404;
$purple: #424874;

$bp-sm: 550px;
$bp-md: 700px;
$bp-lg: 1000px;

$content-width: 500px;
