@import "../../styles/styles.scss";

.headshots {
  display: grid;
  padding: 3 * $basepx;

  @media (min-width: $bp-sm) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  @media (min-width: $bp-md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
  }
}
