.member {
  width: 150px;
  font-family: "Nunito", sans-serif;
}

.member__image {
  width: 150px;
}

.member__name {
  font-size: 18px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.member__role {
  font-size: 16px;
  color: #af0404;
  padding-top: 0px;
}
