@import "../styles/styles.scss";

.platform {
  height: auto;
}

.platform-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.platform-details__icon {
  display: flex;
  justify-content: center;
}

.platform-details__name {
  text-align: center;
  font-size: $font-size-subheading;
  font-family: $sansserif;
  font-weight: 600;
  padding-top: 2 * $basepx;
  margin-bottom: 0px;
}

.platform-details__handle {
  font-family: $sansserif;
  text-align: center;
  font-size: 18px;
  color: #af0404;
  text-decoration: none;
}
