.platform {
  height: auto;
}

.platform-details {
  display: flex;
}

.platform-details__icon {
  display: flex;
  width: 50px;
  height: 50px;
}

.platform-details__name {
  font-size: 22px;
  margin-bottom: 5px;
}

.platform-details__handle {
  font-size: 18px;
  color: #af0404;
  text-decoration: none;
}
