@import "../styles/styles";

.trilogy-tile {
  font-family: "Taviraj", serif;
  color: white;
  height: $trilogy-tile-height;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative; //

  :hover {
    transform: scale(1.05);
    transition: all 0.1s ease-in;
  }
}

.trilogy-tile__image {
  height: 100%;
  width: 100%;
}

.trilogy-tile__text {
  display: flex;
  flex-flow: column;
  height: 100%;
  pointer-events: none; // When we mousemove image, it will increase in size
  position: absolute; // will be placed over the image, but inside the parent
  justify-content: center;
  text-align: center;
}
.trilogy__show__title {
  font-family: $serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.trilogy__show__date {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}
