.footer {
  min-height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
}

.footer__text {
  max-width: 600px;
}
