.footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding: 20px 0;
  background-color: #efefef;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .copyright {
  }

  .author {
    a {
      color: #e46a07;
    }
  }
}
